[user]
        email = alegomez544@gmail.com
        name  = Alejandro Gomez-Londono
[init]
        templatedir = ~/.conf/git-templates/
[color]
        ui = true
[push]
        default = current
[merge]
        tool = emerge
[core]
        editor = nano
[alias]
        nicta    = config user.email alejadro.gomez@data61.csiro.au
        personal = config user.email alegomez544@gmail.com
        fpush    = push --force-with-lease
        cleaner  = clean -fdX
        co       = checkout
        ci       = commit
        update   = fetch --all