[user]
        email = agomezl@pm.me
        name  = Alejandro Gómez-Londoño
[init]
        templatedir = ~/.conf/git-templates/
[color]
        ui = true
[push]
        default = current
[merge]
        tool = emerge
[core]
        editor = nano
[alias]
        fpush    = push --force-with-lease
        mupdate  = submodule update
        msync    = submodule sync
        cleaner  = clean -fdX
        co       = checkout
        ci       = commit
        lg       = log --date=short --pretty=format:'[%C(bold cyan)%h%Creset] - (%C(bold green)%ad%Creset) %s %C(dim white)- %cN'
        update   = fetch --all
